body{
    background-image:url("bm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    margin-left: 45%;
    margin-right: 40%;
    margin-top: 20%;
    margin-bottom: 20%;
    
}
div button{
    width: 150px;
    height: 58px;
    font-size:x-large;
    background-color: black;
    color:#f72585;
    border:6px solid #f72585;
    border-radius: 50%;
    transition: 0.50s;
}

div button:hover{
    border-radius: 50%;
    transform: translateY(-0.30em);
    box-shadow:#d90429 0px 10px 5px -5px ;
    transition-property: all;
    transition-duration: 0.50s;
    color:#d90429;
    border:6px solid #d90429;

}